<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>LSAdmin</display-name>
	<servlet>
		<servlet-name>AutenticadorServlet</servlet-name>
		<display-name>AutenticadorServlet</display-name>
		<description></description>
		<servlet-class> ve.com.digitel.lsadmin.servlet.AutenticadorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BuscadorUsuarioServlet</servlet-name>
		<display-name>BuscadorUsuarioServlet</display-name>
		<description></description>
		<servlet-class> ve.com.digitel.lsadmin.servlet.BuscadorUsuarioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BuscadorCedulasServlet</servlet-name>
		<display-name>BuscadorCedulasServlet</display-name>
		<description></description>
		<servlet-class> ve.com.digitel.lsadmin.servlet.BuscadorCedulasServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BuscadorCedulasRechazadasServlet</servlet-name>
		<display-name>BuscadorCedulasRechazadasServlet</display-name>
		<description></description>
		<servlet-class>
			ve.com.digitel.lsadmin.servlet.BuscadorCedulasRechazadasServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModificarCedulasNuevasServlet</servlet-name>
		<display-name>ModificarCedulasNuevasServlet</display-name>
		<description></description>
		<servlet-class>
			ve.com.digitel.lsadmin.servlet.ModificarCedulasNuevasServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RechazarCedulasServlet</servlet-name>
		<display-name>RechazarCedulasServlet</display-name>
		<description></description>
		<servlet-class> ve.com.digitel.lsadmin.servlet.RechazarCedulasServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistrarFraudeServlet</servlet-name>
		<display-name>RegistrarFraudeServlet</display-name>
		<description></description>
		<servlet-class> ve.com.digitel.lsadmin.servlet.RegistrarFraudeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModificarFraudeServlet</servlet-name>
		<display-name>ModificarFraudeServlet</display-name>
		<description></description>
		<servlet-class> ve.com.digitel.lsadmin.servlet.ModificarFraudeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EliminarFraudeServlet</servlet-name>
		<display-name>EliminarFraudeServlet</display-name>
		<description></description>
		<servlet-class> ve.com.digitel.lsadmin.servlet.EliminarFraudeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BuscadorClienteFraudeModServlet</servlet-name>
		<display-name>BuscadorClienteFraudeModServlet</display-name>
		<description></description>
		<servlet-class>
			ve.com.digitel.lsadmin.servlet.BuscadorClienteFraudeModServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistrarUsuarioServlet</servlet-name>
		<display-name>RegistrarUsuarioServlet</display-name>
		<description></description>
		<servlet-class> ve.com.digitel.lsadmin.servlet.RegistrarUsuarioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModificarEliminarUsuariosServlet</servlet-name>
		<display-name>ModificarEliminarUsuariosServlet</display-name>
		<description></description>
		<servlet-class>
			ve.com.digitel.lsadmin.servlet.ModificarEliminarUsuariosServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModificarUsuarioServlet</servlet-name>
		<display-name>ModificarUsuarioServlet</display-name>
		<description></description>
		<servlet-class> ve.com.digitel.lsadmin.servlet.ModificarUsuarioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EliminarUsuarioServlet</servlet-name>
		<display-name>EliminarUsuarioServlet</display-name>
		<description></description>
		<servlet-class> ve.com.digitel.lsadmin.servlet.EliminarUsuarioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BuscadorCedulasConsultaServlet</servlet-name>
		<display-name>BuscadorCedulasConsultaServlet</display-name>
		<description></description>
		<servlet-class>
		ve.com.digitel.lsadmin.servlet.BuscadorCedulasConsultaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BuscadorClienteFraudeEliServlet</servlet-name>
		<display-name>BuscadorClienteFraudeEliServlet</display-name>
		<description></description>
		<servlet-class>
		ve.com.digitel.lsadmin.servlet.BuscadorClienteFraudeEliServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BuscadorHistoricoCedulasServlet</servlet-name>
		<display-name>BuscadorHistoricoCedulasServlet</display-name>
		<description></description>
		<servlet-class>
		ve.com.digitel.lsadmin.servlet.BuscadorHistoricoCedulasServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BuscadorClienteFraudeServlet</servlet-name>
		<display-name>BuscadorClienteFraudeServlet</display-name>
		<description></description>
		<servlet-class>
		ve.com.digitel.lsadmin.servlet.BuscadorClienteFraudeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AutenticadorServlet</servlet-name>
		<url-pattern>/AutenticadorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuscadorUsuarioServlet</servlet-name>
		<url-pattern>/BuscadorUsuarioServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuscadorCedulasServlet</servlet-name>
		<url-pattern>/BuscadorCedulasServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuscadorCedulasRechazadasServlet</servlet-name>
		<url-pattern>/BuscadorCedulasRechazadasServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificarCedulasNuevasServlet</servlet-name>
		<url-pattern>/ModificarCedulasNuevasServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RechazarCedulasServlet</servlet-name>
		<url-pattern>/RechazarCedulasServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrarFraudeServlet</servlet-name>
		<url-pattern>/RegistrarFraudeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificarFraudeServlet</servlet-name>
		<url-pattern>/ModificarFraudeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EliminarFraudeServlet</servlet-name>
		<url-pattern>/EliminarFraudeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuscadorClienteFraudeModServlet</servlet-name>
		<url-pattern>/BuscadorClienteFraudeModServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrarUsuarioServlet</servlet-name>
		<url-pattern>/RegistrarUsuarioServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificarEliminarUsuariosServlet</servlet-name>
		<url-pattern>/ModificarEliminarUsuariosServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificarUsuarioServlet</servlet-name>
		<url-pattern>/ModificarUsuarioServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EliminarUsuarioServlet</servlet-name>
		<url-pattern>/EliminarUsuarioServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuscadorCedulasConsultaServlet</servlet-name>
		<url-pattern>/BuscadorCedulasConsultaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuscadorClienteFraudeEliServlet</servlet-name>
		<url-pattern>/BuscadorClienteFraudeEliServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuscadorHistoricoCedulasServlet</servlet-name>
		<url-pattern>/BuscadorHistoricoCedulasServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuscadorClienteFraudeServlet</servlet-name>
		<url-pattern>/BuscadorClienteFraudeServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
		<!--manejadores centralizados de errorres-->
	<error-page>
		<error-code>401</error-code>
		<location>/error_401.htm</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error_403.htm</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error_404.htm</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error_500.htm</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/errorexcepcion.htm</location>
	</error-page>
</web-app>